In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook as tdqm
%matplotlib inline

In [3]:
df_classes = pd.read_csv('../datasets/elliptic_txs_classes.csv')
df_classes.head()

        txId    class
0  230425980  unknown
1    5530458  unknown
2  232022460  unknown
3  232438397        2
4  230460314  unknown

In [4]:
df_edges = pd.read_csv('../datasets/elliptic_txs_edgelist.csv')
df_edges.head()

       txId1      txId2
0  230425980    5530458
1  232022460  232438397
2  230460314  230459870
3  230333930  230595899
4  232013274  232029206

In [8]:
df_features = pd.read_csv('../datasets/elliptic_txs_features.csv')
df_features.head()

,230425980,1,-0.1714692896288031,-0.18466755143291433,-1.2013688016765636,-0.12196959975910057,-0.04387454791734898,-0.11300200928476244,-0.06158379407303222,-0.16209679981659642,...,-0.5621534802884299,-0.6009988905192808,1.4613303209554889,1.4613689382001922,0.01827940003744589,-0.0874901561101501,-0.13115530389558736,-0.09752359377152515,-0.12061340670311574,-0.11979245961251665
0,5530458,1,-0.171484,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.162112,...,0.947382,0.673103,-0.979074,-0.978556,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
1,232022460,1,-0.172107,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.162749,...,0.670883,0.439728,-0.979074,-0.978556,-0.098889,-0.106715,-0.131155,-0.183671,-0.120613,-0.119792
2,232438397,1,0.163054,1.963790,-0.646376,12.409294,-0.063725,9.782742,12.414558,-0.163645,...,-0.577099,-0.613614,0.241128,0.241406,1.072793,0.085530,-0.131155,0.677799,-0.120613,-0.119792
3,230460314,1,1.011523,-0.081127,-1.201369,1.153668,0.333276,1.312656,-0.061584,-0.163523,...,-0.511871,-0.400422,0.517257,0.579382,0.018279,0.277775,0.326394,1.293750,0.178136,0.179117
4,230459870,1,0.961040,-0.081127,-1.201369,1.303743,0.333276,1.480381,-0.061584,-0.163577,...,-0.504702,-0.422589,-0.226790,-0.117629,0.018279,0.277775,0.413931,1.149556,-0.696053,-0.695540

In [9]:
df_features.columns = ['id', 'time step'] + [f'trans_feat_{i}' for i in range(93)] + [f'agg_feat_{i}' for i in range(72)]
df_features.head()

,id,time step,trans_feat_0,trans_feat_1,trans_feat_2,trans_feat_3,trans_feat_4,trans_feat_5,trans_feat_6,trans_feat_7,...,agg_feat_62,agg_feat_63,agg_feat_64,agg_feat_65,agg_feat_66,agg_feat_67,agg_feat_68,agg_feat_69,agg_feat_70,agg_feat_71
0,5530458,1,-0.171484,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.162112,...,0.947382,0.673103,-0.979074,-0.978556,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
1,232022460,1,-0.172107,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.162749,...,0.670883,0.439728,-0.979074,-0.978556,-0.098889,-0.106715,-0.131155,-0.183671,-0.120613,-0.119792
2,232438397,1,0.163054,1.963790,-0.646376,12.409294,-0.063725,9.782742,12.414558,-0.163645,...,-0.577099,-0.613614,0.241128,0.241406,1.072793,0.085530,-0.131155,0.677799,-0.120613,-0.119792
3,230460314,1,1.011523,-0.081127,-1.201369,1.153668,0.333276,1.312656,-0.061584,-0.163523,...,-0.511871,-0.400422,0.517257,0.579382,0.018279,0.277775,0.326394,1.293750,0.178136,0.179117
4,230459870,1,0.961040,-0.081127,-1.201369,1.303743,0.333276,1.480381,-0.061584,-0.163577,...,-0.504702,-0.422589,-0.226790,-0.117629,0.018279,0.277775,0.413931,1.149556,-0.696053,-0.695540

In [10]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203768 entries, 0 to 203767
Columns: 167 entries, id to agg_feat_71
dtypes: float64(165), int64(2)
memory usage: 259.6 MB

In [11]:
df_features.describe()

,id,time step,trans_feat_0,trans_feat_1,trans_feat_2,trans_feat_3,trans_feat_4,trans_feat_5,trans_feat_6,trans_feat_7,...,agg_feat_62,agg_feat_63,agg_feat_64,agg_feat_65,agg_feat_66,agg_feat_67,agg_feat_68,agg_feat_69,agg_feat_70,agg_feat_71
count,2.037680e+05,203768.000000,2.037680e+05,2.037680e+05,203768.000000,2.037680e+05,2.037680e+05,2.037680e+05,2.037680e+05,2.037680e+05,...,203768.000000,203768.000000,203768.000000,203768.000000,2.037680e+05,2.037680e+05,2.037680e+05,2.037680e+05,2.037680e+05,2.037680e+05
mean,1.711307e+08,23.844073,8.414927e-07,9.062637e-07,0.000006,5.985709e-07,2.153162e-07,5.545621e-07,3.022251e-07,7.954968e-07,...,0.000003,0.000003,-0.000007,-0.000007,-8.970692e-08,4.293616e-07,6.436502e-07,4.786011e-07,5.919153e-07,5.878865e-07
std,1.104656e+08,15.172123,1.000005e+00,1.000005e+00,1.000001,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,...,1.000004,1.000004,1.000000,1.000000,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00
min,1.076000e+03,1.000000,-1.729826e-01,-2.105526e-01,-1.756361,-1.219696e-01,-6.372457e-02,-1.130020e-01,-6.158379e-02,-1.636459e-01,...,-0.577099,-0.626229,-0.979074,-0.978556,-2.160569e-01,-1.259391e-01,-1.311553e-01,-2.698175e-01,-1.760926e+00,-1.760984e+00
25%,8.433451e+07,9.000000,-1.725317e-01,-1.803266e-01,-1.201369,-1.219696e-01,-4.387455e-02,-1.130020e-01,-6.158379e-02,-1.635168e-01,...,-0.569626,-0.594691,-0.979074,-0.978556,-9.888874e-02,-8.749016e-02,-1.311553e-01,-1.405971e-01,-1.206134e-01,-1.197925e-01
50%,1.624374e+08,23.000000,-1.692045e-01,-1.328975e-01,0.463609,-1.219696e-01,-4.387455e-02,-1.130020e-01,-6.158379e-02,-1.620440e-01,...,-0.479951,-0.455928,0.241128,0.241406,1.827940e-02,-8.749016e-02,-1.311553e-01,-9.752359e-02,-1.206134e-01,-1.197925e-01
75%,2.454798e+08,38.000000,-1.318532e-01,-5.524241e-02,1.018602,-1.219696e-01,-4.387455e-02,-1.130020e-01,-6.158379e-02,-1.355929e-01,...,0.155250,0.121274,1.305483,1.398764,1.827940e-02,-8.749016e-02,-8.467423e-02,-9.752359e-02,1.520490e-01,1.199793e-01
max,4.032446e+08,49.000000,7.168197e+01,7.359505e+01,2.683580,4.902760e+01,2.600907e+02,5.456518e+01,1.134409e+02,7.335457e+01,...,7.862953,7.914041,1.461330,1.461369,1.170692e+02,2.518490e+02,2.387835e+02,1.057340e+02,1.519700e+00,1.521399e+00